.container,
.container-fluid {
  margin: 20px auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 60%;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


h3 {
  font-weight: 300;
  line-height: 1.2;
  color: #5f5f5f;
}

fa-icon {
  margin-right: 10px;
}

.scaling-svg-container {
  margin: 1rem 0;
}

.content {
  background-color: #fffffff0;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #eaeaea;
}

.jumbotron {
  background-color: #fffffff0;
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
}

path[id^="sl"][id$="_knob"] {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    fill: #C08F69;
    outline: none;
  }
}

.btn {
  color: #fff;

  &:disabled {
    cursor: not-allowed;
  }

  &.btn-lang {
    background-color: #a38b73;
    border-color: #a38b73;
  }

  &.btn-email {
    background-color: #b2beb0;
    border-color: #b2beb0;
  }

  &.btn-png {
    background-color: #c08f69;
    border-color: #c08f69;
  }

  &.btn-svg {
    background-color: #a38b73;
    border-color: #a38b73;
  }
}

::ng-deep .toast {
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  width: 300px;

  background-position: unset;
  background-repeat: unset;
  background-size: unset;
  background-image: unset;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  pointer-events: auto;

  &:hover {
    box-shadow: inherit;
  }

  &.toast-success {
    color: #ffffff;
    background-color: #a38b73;
    border: 1px solid #a38b73;
  }

  &.toast-error {
    color: #ffffff;
    background-color: #c08f69;
    border: 1px solid #c08f69;
  }
}

#my_matrescence_svg {
  width: 100%;
  height: 100%;
}
