/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: AvenirLTStd-Medium;
  src: url('assets/fonts/AvenirLTStd-Medium.otf') format("opentype");
}

body {
  // background-image: url("assets/bg.jpg");
  // background-repeat: repeat;
  // background-blend-mode: difference;
  background-color: transparent;
  font-family: AvenirLTStd-Medium, sans-serif;
}
